body { height: 100vh; width: 100vb; background: black;
    display: flex; align-items: center; justify-content: center;
}

#game-board {
    height: 80vmin;
    width: 80vmin;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
}

.food {
    background-color: pink;
    border: 0.5vmin solid black;
}

.snake {
    background-color: blue;
    border: 0.5vmin solid black;
}